<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InvoiceType" value="8020"/>
    <add key="InvoiceJournalCode" value="70"/>
    <add key="PaymentCondition" value="14"/>
    <add key="CurrencyCode" value="EUR"/>
    <add key="VatCode" value="2"/>
    <add key="BaseUri" value="https://start.exactonline.nl/"/>
    <add key="Url" value="https://start.exactonline.nl" />
    <add key="EOLCompanyId" value= "2840655"/>
    <add key="ClientId" value= "971bd94c-ddcd-49bd-9b4e-daba31e06633"/>
    <add key="ClientSecret" value = "OrDnXkVZedVp"/>

    <!--the file path given in TokenFilePath must have read and write permission for the current user-->
    <add key="TokenFilePath" value = "D:\Murali\Work\Ready4U\EOLToken\Ready4YouEolExportTokens.dat"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>